In [2]:
import pandas as pd
data = pd.read_csv("50_Startups.csv")

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
data.shape

(50, 5)

In [5]:
data["Profit"].mean()

112012.63920000002

In [6]:
data["Profit"].median()

107978.19

In [7]:
data["Profit"].mode()

0      14681.40
1      35673.41
2      42559.73
3      49490.75
4      64926.08
5      65200.33
6      69758.98
7      71498.49
8      77798.83
9      78239.91
10     81005.76
11     81229.06
12     89949.14
13     90708.19
14     96479.51
15     96712.80
16     96778.92
17     97427.84
18     97483.56
19     99937.59
20    101004.64
21    103282.38
22    105008.31
23    105733.54
24    107404.34
25    108552.04
26    108733.99
27    110352.25
28    111313.02
29    118474.03
30    122776.86
31    124266.90
32    125370.37
33    126992.93
34    129917.04
35    132602.65
36    134307.35
37    141585.52
38    144259.40
39    146121.95
40    149759.96
41    152211.77
42    155752.60
43    156122.51
44    156991.12
45    166187.94
46    182901.99
47    191050.39
48    191792.06
49    192261.83
Name: Profit, dtype: float64

In [10]:
data["Profit"].value_counts()

Profit
192261.83    1
89949.14     1
105008.31    1
103282.38    1
101004.64    1
99937.59     1
97483.56     1
97427.84     1
96778.92     1
96712.80     1
96479.51     1
90708.19     1
81229.06     1
191792.06    1
81005.76     1
78239.91     1
77798.83     1
71498.49     1
69758.98     1
65200.33     1
64926.08     1
49490.75     1
42559.73     1
35673.41     1
105733.54    1
107404.34    1
108552.04    1
108733.99    1
191050.39    1
182901.99    1
166187.94    1
156991.12    1
156122.51    1
155752.60    1
152211.77    1
149759.96    1
146121.95    1
144259.40    1
141585.52    1
134307.35    1
132602.65    1
129917.04    1
126992.93    1
125370.37    1
124266.90    1
122776.86    1
118474.03    1
111313.02    1
110352.25    1
14681.40     1
Name: count, dtype: int64

In [12]:
data["Profit"].var()

1624588173.411208

In [13]:
data["Profit"].std()

40306.18033765055

In [17]:
data["Profit"].describe()

count        50.000000
mean     112012.639200
std       40306.180338
min       14681.400000
25%       90138.902500
50%      107978.190000
75%      139765.977500
max      192261.830000
Name: Profit, dtype: float64